{% extends 'base/base.html' %}

{% block title %}Ажилбаруудын жагсаалт{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Ажилбарууд</a></li>
                            <li class="active">Жагсаалт</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Ажилбаруудын жагсаалт</h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Нэр</th>
                                <th>Дугаарлалт</th>
                                <th>Үүсгэсэн огноо</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if jobs %}
                            {% for jobs in jobs %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ jobs.name }}</td>
                                <td>{{ jobs.sortno }}</td>
                                <td>{{ jobs.created_date }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>Үүсгэсэн ажилбар байхгүй байна.</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}